<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_wssFuncionarios">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_wssFuncionarios1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://bulldesabts01:442/Externos/GRP/wssFuncionarios"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_wssFuncionarios"
                contract="wssFuncionarios.IVirtualInterface" name="BasicHttpBinding_wssFuncionarios" />
            <endpoint address="https://bulldesabts01:442/Externos/GRP/wssFuncionarios"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_wssFuncionarios1"
                contract="wssFuncionarios.IVirtualInterface" name="BasicHttpBinding_wssFuncionarios1" />
        </client>
    </system.serviceModel>
</configuration>